.container{
    margin: 20px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.text{
    margin-left: 25%;
    margin-right: 25%;
}

.users{

}

.header{
    color: black;
}

.listContainer {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.headerContainer {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}



