.container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77002e;
    padding: 0 10px;
}

.linkContainer{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

h3{
    padding: 10px 50px;
    color: aliceblue;
}

.linkContainer >h3:hover{
    cursor: pointer;
}

.link{
    padding: 10px 10px;
    text-decoration: none; 
    font-weight: bold;
    color: aliceblue;
}

.form input {
    background:white;
    width:50%;
    font-size:16px;
    color:#800040;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 5px;
}

