.img{
    width: 50%;
    height: 30%;
    overflow: hidden;
    margin: 0 auto;
}

.img img{
    width: 100%;
    object-fit: cover;
}

.container{
    margin: 20px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.text{
    margin-left: 25%;
    margin-right: 25%;
}

.child {
    display: inline-block;
    padding-right: 10px;
  }