.container {
    margin: auto;
}

.centerContainer {
    margin: auto;
    width: 50%;
    border: 3px solid #800040;
    padding: 10px;
    text-align: center;
}

.header {
    font-size:30px;
    color:#800040;
}

.form {
    position:relative;
	margin-bottom:25px;
    margin: auto;
}

.form input {
    background:transparent;
    width:30%;
    font-size:16px;
    color:#800040;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}