.container {
    margin: auto;
}

.centerContainer {
    margin: auto;
    width: 50%;
    border: 3px solid #800040;
    padding: 10px;
    text-align: center;
}

.header {
    font-size:30px;
    color:#800040;
}
