.btn {
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 2px solid #800040;
  margin: 10px 10px;
  font-size: 20px;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}


.startScreenBtns {
  text-align: center;
}

.startScreenTitle{
  text-align: center;
}

.startScreenTitle > h1{
  color: #800040;
  font-size: 40px;
}

